* {
  font-family: sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.container {
  width: 900px;
}

.margin-50 {
  margin: 50px 0;
}

.row {
  display: flex;
  width: 100%;
}

.column-full {
  width: 100%;
  text-align: center;
}

.selects {
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.textArea {
  width: 100%;
  margin: 0;
}

.margin-right {
  margin-right: 20px;
}

.submit-container {
  text-align: right;
  padding: 10px 0;
}

.column-90 {
  width: 90%;
}

.center {
  justify-content: center;
}

.add-button {
  padding: 8px 25px;
  box-shadow: 3px 3px 3px;
}

.add-button:hover,
.submit-button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.modal-box {
  background-color: white;
  width: 50%;
  height: 20%;
  text-align: center;
  padding: 10px;
}

.schedule {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
